.main-inner {
    width: 100%;
}
.main-outer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.item {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5x;
}
.tr-item {
    border-bottom: 1px solid grey;
    padding-bottom: 50px;
}
.div-inline {
    display: inline-block;
}

.div-text {
    font-size: 16px;
}

a:empty {
  display: block;
  position: absolute; /* see #4404 */
}
