<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ static }}">
  <meta charset="utf-8">
  <title>Обновление ассортимента</title>
</head>
<body>
<table style="border-collapse: collapse;">
  <tbody>
  <tr style="border-bottom: 3px solid grey;">
    <td>
       <img style="width: 340px; height: 100px;" src="data:image/jpeg;base64,{{ logo }}">
    </td>
    <td>
      <h3 style="padding-right: 70px; padding-top: 30px;">Обновление ассортимента: {{ date }}</h3>
    </td>
  </tr>
  <tr style="border-bottom: 2px solid grey;">
    <td>
       <h3 style="padding-left: 30px;">Список категорий:</h3>
      {% for category in categories %}
        <div class="div-inline">
          <a href="#{{ category }}">
            <div class="item" style="display: inline; font-size: 24px; padding-left: 40px;">
              <span>{{ category }}</span>
            </div>
          </a>
        </div>
        <div style="display: block">&nbsp;</div>
      {% endfor %}
    </td>
    <td>&nbsp</td>
  </tr>
  </tbody>
</table>
<table style="border-collapse: collapse;">
  <tbody>
  {% for category, category_data in categories_data.items() %}
    <tr style="border-bottom: 1px solid grey;">
      <td>
        <div class="div-inline" style="padding-top: 10px; padding-bottom: 10px;">
          <a name="{{ category }}">
            <div class="item" style="display: inline; font-size: 24px; font-weight: bold;">
              <span>{{ category }}</span>
          </div>
          </a>
        </div>
      </td>
    </tr>
    {% for item in category_data %}
      <tr class="tr-item">
        <td>
          <div class="div-inline">
          <img class="item" style="width: auto; height: auto; max-width: 75px; max-height: 75px;"
               src="data:image/jpeg;base64,{{ item['image'] }}">
          </div>
          <div class="div-inline div-text">
            <div class="item">
              <p>{{ item["id"] }}</p>
              <p>{{ item["vendor_code"] }}</p>
            </div>
          </div>
          <div class="div-inline div-text">
            <p class="item">{{ item["color"] }}</p>
          </div>
          <div class="div-inline div-text">
            <p class="item">{{ item["count"] }}шт</p>
          </div>
          <div class="div-inline div-text">
            <p class="item">{{ item["price"] }}р</p>
          </div>
          <div class="div-inline div-text">
            <a href="https://kuboteka.shop/search/?search={{ item['id'] }}" target="_blank">
              <div style="display: inline; font-size: 20px;">
                <span>Купить</span>
              </div></a>
          </div>
        </td>
      </tr>
    {% endfor %}
  {% endfor %}
  </tbody>
</table>
</body>
</html>